# Zig build directories
.zig-cache/
zig-out/
build/

# macOS system files
.DS_Store

# Compile outputs
*.o
*.a
*.so
*.dylib
*.dll
*.exe
ahhhhh
ahhhhh.exe
ahhhh
ahhhh.exe

# Editor backups
*.bak
*~

# C/C++ Tooling & IDEs
.cache/
.vscode/
compile_commands.json
